@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* navbar */
*{
    margin: 0;
    padding: 0;
}
nav {
    overflow: hidden;
    background-color:rgb(153, 145, 145);
    width:100%; 
    opacity: 0.8;
    height: 75px;
}
#logo{
    height: 80px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
nav ul li{
    display: inline-block;
    padding: 0px 100px;
}
nav ul li a{
    text-decoration: none;
    color:  rgb(2, 62, 138);
    font-weight: 700;
    font-size: 1.7rem;
    font-family: "Bebas Neue";
}
nav ul li a:hover{
    color:rgb(216, 219, 11);
}



body{
    background: url(./Assets/bg3.jpg) fixed center/cover;
    
}
main{
    font-family: "Andada Pro";
    color: rgb(238, 201, 121);
}
p{
    font-size: 20px;
    letter-spacing: 0.8px;
    font-weight: 600;
}

h1{
    padding: 20px;
    font-size: 44px;
    color: rgb(79 189 222);
    text-shadow: 4px 6px 3px black;
    margin: 10px;
    
}

h2{
    color: rgb(80 216 222);
    font-size: 34px;
    padding: 30px 10px;
}

.innov,
.util,
.compet{
    width: 40%;
    text-align: center;
    padding: 20px 30px;
    line-height: 170%;
    background-color: rgba(10, 0, 99, 0.527);
    margin: 20px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
}

.steve{
    text-shadow: 3px 3px 3px rgba(255, 255,0,0.6);
}

.haut{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    padding-top: 40px;    
}

.presentation{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
    
}
.util{
    margin-left: auto;
    margin-right: auto;
}

#ligne1{
    font-weight: 700;
    padding: 30px;
    animation: ligne 3s infinite linear;
}

@keyframes ligne{
    
    25%{padding-left: 8%}
    
    75%{padding-right: 8%;}
    
}

#netflix,
#prime,
#disney,
#aliexpress,
#wish{
    color: rgb(223, 121, 39);
    text-decoration: blink;
    font-weight: 600;
}
.points{
    color: rgb(223, 121, 39) ;
    font-weight: 600;
    animation: points 4s infinite linear;  
}
@keyframes points{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}
#SJ{
    height: 80px;
    position: absolute;
    z-index: -1;
    filter: drop-shadow(0px 6px 3px rgba(255, 255,0,0.6));
    animation: stevej 10s infinite linear;
}
@keyframes stevej{
    
       0% {top: 2%;
       left: 2%;}
    
       25% {top: 2%;
            left: 85%}
    
       50% {top: 78%;
        left: 85%;}
    
       75% {top: 78%;
       left: 2%;}

       100% {top: 2%;
        left: 2%;}
}


