/* navbar */
*{
    margin: 0;
    padding: 0;
}
nav {
    overflow: hidden;
    background-color:rgb(153, 145, 145);
    width:100%; 
    opacity: 0.9;
    height: 75px;   
}
#logo{
    height: 80px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
nav ul li{
    display: inline-block;
    padding: 0px 100px;
}
nav ul li a{
    text-decoration: none;
    color:  rgb(2, 62, 138);
    font-weight: 700;
    font-size: 1.7rem;
    font-family: "Bebas Neue";
}
nav ul li a:hover{
    color:rgb(216, 219, 11);
}
    /* fin */